/** FORM TAB */
#form-fields-container .form-panel {

}

#form-fields-container .form-panel .header {
  color: #fff;
  background: #333;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 10px;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#fields-available {

  &.sortable .field {
    cursor: move;
  }

  .field {
    padding: calc($spacer / 2);

    &:hover {
      background-color: $gray-100;
    }

    .field-icon {
      display: inline-block;
      height: 2em;
      width: 2em;
      padding: 3px;
      background-color: $amber-200;
    }

    .btn-group {
      width: 48px;
      float: right;
    }

    .btn-group .btn {
      padding: 0 2px !important;
    }
  }
}

#form-fields-container .existing .fields-body .fields-container {

  .field {
    background-color: #F3F3D1;

    border-bottom-color: #DBDBB0;
    border-left-color: #DBDBB0;
    border-right-color: #DBDBB0;

    &:hover {
      background-color: #EDEDAF;
    }

    .field-invisible {
      color: #ed513f;
    }

    .field-visible {
      color: #45b035;
    }
  }
}
