/** FORM TAB */
#form-fields-container .form-panel {

}

#form-fields-container .form-panel .header {
  color: #fff;
  background: #333;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 10px;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#form-fields-container .form-panel .fields-body .fields-container {
  background-color: #F4F4F4;
  padding-bottom: 10px;
  width: 100%;

  &.sortable .field {
    cursor: move;
  }

  .field {
    background-color: #F4F4F4;
    padding: 3px 10px;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-top: 1px solid white;

    &:hover {
      background-color: #E6E6E6;
    }

    .btn-group {
      width: 48px;
      float: right;
    }

    .btn-group .btn {
      padding: 0 2px !important;
    }
  }
}

#form-fields-container .existing .fields-body .fields-container {

  .field {
    background-color: #F3F3D1;
    padding: 3px 10px;

    border-bottom: 1px solid #DBDBB0;
    border-left: 1px solid #DBDBB0;
    border-right: 1px solid #DBDBB0;

    &:hover {
      background-color: #EDEDAF;
    }

    .field-invisible {
      color: #ed513f;
    }

    .field-visible {
      color: #45b035;
    }
  }
}
