/** FORM TAB */
#form-fields-container .form-panel {

}

#form-fields-container .form-panel .header {
  color: #fff;
  background: #333;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3px 10px;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.fields-body .field {
  .field-icon {
    display: inline-block;
    height: 2em;
    width: 2em;
    padding: 3px;
    background-color: $amber-200;

    svg {
      width: 100%;
      height: auto;
    }
  }
}

#fields-available {
  &.sortable .field {
    cursor: move;
  }

  .field {
    padding: calc($spacer / 2);

    &:hover {
      background-color: $gray-100;
    }

    .btn-group {
      width: 48px;
      float: right;
    }

    .btn-group .btn {
      padding: 0 2px !important;
    }
  }
}

#form-fields-container .existing {
  .form-pane {
    margin-bottom: $spacer;
  }
}

#form-fields-container .existing .fields-body .fields-container {

  .field {
    background-color: #F3F3D1;
    border-color: #DBDBB0;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-bottom-color: #c3c3c3;

    margin-bottom: 3px;

    &:hover {
      background-color: #EDEDAF;
    }

    .field-invisible {
      color: #ed513f;
    }

    .field-visible {
      color: #45b035;
    }
  }
}
